<div class="table-container" fxLayout="column" fxLayoutAlign="center stretch">
    <page-header class="bg-cyan-50"></page-header>
    
    <form fxLayout="row wrap" fxLayoutGap="16px" class="form-container" fxLayoutAlign="space-between center">
      <div fxFlex="70%">
        <mat-form-field class="flex-field" appearance="outline">
          <mat-select [(ngModel)]="query.grade" name="grade" placeholder="Grade">
            <mat-option value="0">All</mat-option>
            <mat-option value="1">Play Group</mat-option>
            <mat-option value="2">PP1</mat-option>
            <mat-option value="3">PP2</mat-option>
            <mat-option value="4">Grade 1</mat-option>
            <mat-option value="5">Grade 2</mat-option>
            <mat-option value="6">Grade 3</mat-option>
            <mat-option value="7">Grade 4</mat-option>
            <mat-option value="8">Grade 5</mat-option>
            <mat-option value="9">Grade 6</mat-option>
            <mat-option value="10">Grade 7</mat-option>
            <mat-option value="11">Grade 8</mat-option>
            <mat-option value="12">Grade 9</mat-option>
          </mat-select>
        </mat-form-field>
        
        <div class="button-container">
          <button mat-flat-button (click)="search()">Search</button>
          <button mat-button color="warn" (click)="reset()">Reset</button>
        </div>
      </div>
  
      <!-- 'Admit New Student' Button -->
      <div fxFlex="30%" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="admitNewStudent()">Admit New Student</button>
      </div>
    </form>
  
    <h1>Recent Admissions</h1>
    <mtx-grid
      fxFlex
      [data]="students"
      [columns]="columns"
      [length]="total"
      [loading]="isLoading"
      [pageOnFront]="false"
      [pageIndex]="query.page"
      [pageSize]="query.per_page"
      [pageSizeOptions]="[5,10,20]"
      (page)="getNextPage($event)">
    </mtx-grid>
  </div>
  