// .table-container {
    //   display: flex;
    //   flex-direction: column;
    //   height: calc(100vh - 100px); // Adjust 100px based on your layout
    //   min-height: 400px; // Set a minimum height
    //   max-height: 800px; // Set a maximum height
    // }
    
    // :host ::ng-deep .mtx-grid {
    //   flex: 1;
    //   overflow: auto;
    //   min-height: 0; // This is important for flex child to respect parent's size
    // }
    
    // // Media query for smaller screens
    // @media (max-width: 768px) {
    //   .table-container {
    //     height: calc(100vh - 80px); // Adjust for smaller screens
    //     min-height: 300px;
    //   }
    // }
      
    
      /* Define custom styles for the tag colors */
    .tag-paid {
        background-color: green !important;
        color: white !important;
      }
      
      .tag-pending {
        background-color: orange !important;
        color: white !important;
      }
      
      .tag-overdue {
        background-color: red !important;
        color: white !important;
      }
      
      .table-container {
        padding: 16px;
      }
      
      .form-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
      }
      
      .flex-field {
        flex: 1 1 calc(50% - 16px);
        min-width: 200px;
      }
      
      .action-button {
        margin-top: 8px; /* Reduced space between button and form */
      }
      
      .button-container {
        display: flex;
        gap: 8px;
        margin-bottom: 16px; /* Adds space between buttons and table */
      }
      
      .mtx-grid-container {
        height: 500px; /* Increase the table height */
        overflow-y: auto;
      }
      
      @media (max-width: 600px) {
        .flex-field {
          flex: 1 1 100%;
        }
      }
      

      .spinner-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
        z-index: 1000; /* Ensure it's on top of other content */
      }
      