<!-- student-registration.component.html -->
<div class="min-h-screen bg-gray-50 p-8">
  <div *ngIf="isLoading" class="spinner-overlay">
    <mat-progress-spinner
      mode="indeterminate"
      color="primary"
      [diameter]="50">
    </mat-progress-spinner>
  </div>
  <mat-card class="max-w-2xl mx-auto">
    <mat-card-header>
      <mat-card-title class="w-full text-center text-2xl font-bold text-gray-800 mb-8">
        Student Registration
      </mat-card-title>
    </mat-card-header>

    <!-- Step Indicator -->
    <div class="stepper-container">
      <ng-container *ngFor="let step of steps; let i = index">
        <div class="step-wrapper">
          <div [class]="getStepClass(step)"></div>
          <div *ngIf="i < steps.length - 1" 
               [class]="getLineClass(i)">
          </div>
        </div>
      </ng-container>
    </div>

    <mat-card-content>
      <div class="step-container">
        <!-- Step 1: Student Details -->
        <div class="step-content" *ngIf="currentStep === 1" [@stepTransition]>
          <h3 class="text-lg font-semibold mb-6 text-gray-700">Student Details</h3>
          <form [formGroup]="studentForm" class="flex flex-col gap-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" placeholder="Enter surname">
            <mat-error *ngIf="studentForm.get('surname')?.errors?.['required']">
              Surname is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Other Names</mat-label>
            <input matInput formControlName="otherNames" placeholder="Enter other names">
            <mat-error *ngIf="studentForm.get('otherNames')?.errors?.['required']">
              Other names is required
            </mat-error>
          </mat-form-field>    

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Grade</mat-label>
            <mat-select formControlName="grade">
              <mat-option [value]="grade.value" *ngFor="let grade of grades">
                {{grade.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.get('grade')?.errors?.['required']">
              Grade is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="studentForm.get('dob')?.errors?.['required']">
              Date of birth is required
            </mat-error>
          </mat-form-field>

          
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Birth Certificate Entry Number</mat-label>
            <input matInput formControlName="birthCert" placeholder="Enter birth certificate entry number">
            <mat-error *ngIf="studentForm.get('birthCert')?.errors?.['required']">
              Birth certificate entry number is required
            </mat-error>
          </mat-form-field>

          
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>UPI Number</mat-label>
            <input matInput formControlName="upi" placeholder="Enter UPI number">
            <mat-error *ngIf="studentForm.get('upi')?.errors?.['required']">
              UPI is required
            </mat-error>
          </mat-form-field> 

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Assessment No</mat-label>
            <input matInput formControlName="assessmentNo" placeholder="Enter assessment number">
            <mat-error *ngIf="studentForm.get('assessment')?.errors?.['required']">
              Assessment number is required
            </mat-error>
          </mat-form-field>
          </form>
        </div>

        <!-- Step 2: Location -->
        <div class="step-content" *ngIf="currentStep === 2" [@stepTransition]>
          <h3 class="text-lg font-semibold mb-6 text-gray-700">Place of Residence</h3>
          <form [formGroup]="placeOfResidence" class="flex flex-col gap-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>County</mat-label>
              <mat-select formControlName="county" required (selectionChange)="onCountyChange($event.value)">
                <mat-option *ngFor="let county of counties" [value]="county.id">
                  {{county.name}}
                </mat-option>=[]
              </mat-select>
              <mat-error *ngIf="placeOfResidence.get('county')?.invalid">
                County is required
              </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Subcounty</mat-label>
              <mat-select formControlName="subcounty" required (selectionChange)="onSubcountyChange($event.value)">
                <mat-option *ngFor="let subcounty of subcounties" [value]="subcounty.id">
                  {{subcounty.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="placeOfResidence.get('subcounty')?.invalid">
                Subcounty is required
              </mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Ward</mat-label>
              <mat-select formControlName="ward" required>
                <mat-option *ngFor="let ward of wards" [value]="ward.id">
                  {{ward.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="placeOfResidence.get('ward')?.invalid">
                Ward is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Village or Estate</mat-label>
              <input matInput formControlName="villageOrEstate" placeholder="Enter village or estate">
              <mat-error *ngIf="studentForm.get('villageOrEstate')?.errors?.['required']">
                Village or estate required
              </mat-error>
            </mat-form-field> 
          
          </form>
        </div>

        <!-- Step 3: Primary Contact Details -->
        <div class="step-content" *ngIf="currentStep === 3" [@stepTransition]>
          <h3 class="text-lg font-semibold mb-6 text-gray-700">Parent/Guardian Details</h3>          
          <div class="row">
            <div class="col">
              <h4 class="text-lg mb-4 text-gray-700">Primary Contact</h4>
              <form [formGroup]="primaryContactForm" class="flex flex-col gap-4">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Surname</mat-label>
                  <input matInput formControlName="primaryContactSurname" placeholder="Enter surname">
                  <mat-error *ngIf="primaryContactForm.get('primaryContactSurname')?.errors?.['required']">
                    Surname is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Other Names</mat-label>
                  <input matInput formControlName="primaryContactOthernames" placeholder="Enter other names">
                  <mat-error *ngIf="primaryContactForm.get('primaryContactOthernames')?.errors?.['required']">
                    Other names is required
                  </mat-error>
                </mat-form-field>  
        
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Contact Number</mat-label>
                  <input
                    matInput
                    formControlName="primaryContactNumber"
                    placeholder="Enter phone number"
                    maxlength="10" >
                  <mat-error *ngIf="primaryContactForm.get('primaryContactNumber')?.hasError('required')">
                    Contact number is required
                  </mat-error>
                  <mat-error *ngIf="primaryContactForm.get('primaryContactNumber')?.hasError('pattern')">
                    Invalid phone number
                  </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Occupation</mat-label>
                  <input matInput formControlName="primaryContactOccupation" placeholder="Enter surname">
                  <mat-error *ngIf="primaryContactForm.get('primaryContactOccupation')?.errors?.['required']">
                    Occupation is required
                  </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Relationship</mat-label>
                  <mat-select formControlName="primaryContactRelationship">
                    <mat-option *ngFor="let relationship of relationships" [value]="relationship.value">
                      {{ relationship.key }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="primaryContactForm.get('primaryContactRelationship')?.errors?.['required']">
                    Relationship is required
                  </mat-error>
                </mat-form-field>
              </form>
            </div>
        </div>
        </div>
        <!-- Step 4: Secondary Parent Details -->
            <div class="step-content" *ngIf="currentStep === 4" [@stepTransition]>
              <h3 class="text-lg font-semibold mb-6 text-gray-700">Parent/Guardian Details</h3>          
              <div class="row">
                <div class="col">
              <h4 class="text-lg mb-4 text-gray-700">Secondary Contact (Optional)</h4>
              <form [formGroup]="secondaryContactForm" class="flex flex-col gap-4">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Surname</mat-label>
                  <input matInput formControlName="secondaryContactSurname" placeholder="Enter surname">
                  <mat-error *ngIf="secondaryContactForm.get('surname')?.errors?.['required']">
                    Surname is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Other Names</mat-label>
                  <input matInput formControlName="secondaryContactOthernames" placeholder="Enter other names">
                  <mat-error *ngIf="secondaryContactForm.get('secondaryContactOthernames')?.errors?.['required']">
                    Other names is required
                  </mat-error>
                </mat-form-field>            
        
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Contact Number</mat-label>
                  <input
                    matInput
                    formControlName="secondaryContactNumber"
                    placeholder="Enter phone number"
                    maxlength="10" >
                  <mat-error *ngIf="secondaryContactForm.get('secondaryContactNumber')?.hasError('required')">
                    Contact number is required
                  </mat-error>
                  <mat-error *ngIf="secondaryContactForm.get('secondaryContactNumber')?.hasError('pattern')">
                    Invalid phone number
                  </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Occupation</mat-label>
                  <input matInput formControlName="secondaryContactOccupation" placeholder="Enter surname">
                  <mat-error *ngIf="secondaryContactForm.get('secondaryContactOccupation')?.errors?.['required']">
                    Occupation is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Relationship</mat-label>
                  <mat-select formControlName="secondaryContactRelationship">
                    <mat-option *ngFor="let relationship of relationships" [value]="relationship.value">
                      {{ relationship.key }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="secondaryContactForm.get('secondaryContactRelationship')?.errors?.['required']">
                    Relationship is required
                  </mat-error>
                </mat-form-field>
                
              </form>
            </div>
          </div>
        </div>

        <!-- Step 4: Other Details -->
        <div class="step-content" *ngIf="currentStep === 5" [@stepTransition]>
          <h3 class="text-lg font-semibold mb-6 text-gray-700">Other Details</h3>
          <form [formGroup]="otherForm" class="flex flex-col gap-4">
                      <mat-form-field appearance="outline" class="w-full">
            <mat-label>Medical/Special Needs</mat-label>
            <textarea matInput formControlName="specialNeeds" rows="3" 
                      placeholder="Enter remarks or additional information">
            </textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Admission Date</mat-label>
            <input matInput [matDatepicker]="admissionPicker" formControlName="admissionDate">
            <mat-datepicker-toggle matSuffix [for]="admissionPicker"></mat-datepicker-toggle>
            <mat-datepicker #admissionPicker></mat-datepicker>
            <mat-error *ngIf="otherForm.get('admissionDate')?.errors?.['required']">
              Admission date is required
            </mat-error>
          </mat-form-field>
          
          </form>
        </div>
      </div>

      <!-- Navigation Buttons -->
      <div class="flex justify-between mt-8">
        <button mat-raised-button 
                [disabled]="currentStep === 1"
                (click)="previousStep()"
                color="primary">
          Previous
        </button>
        
        <button mat-raised-button 
                (click)="currentStep === 5 ? submitForm() : nextStep()"
                [color]="currentStep === 5 ? 'accent' : 'primary'">
          {{currentStep === 5 ? 'Submit' : 'Next'}}
        </button>

        <button mat-raised-button color="warn" (click)="close()">
          Close
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>